
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Game Menu (form)*/

.app-container{
  
}

.form-container{
  max-width: 750px;
  margin: auto;
}

.controller-container{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
}
.form-controller{
  margin: px;
  margin-left: 20px;
}

.launch-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview span{
  font-size: 20px;
}
.btn{
  margin: 5px;
  padding: 5px;
  min-width: 35px;
}

.form-controller .btn{
  margin-left: auto;
}
.launch-container{
  margin-bottom: 10px;
  border: black 1px solid;
  border-radius: 20px;
  padding: 10px;
  background-color: bisque;
  box-shadow: 4px 4px 8px gray;
}



/* cards board */

.cards-container{
  /* border: solid red 1px; */
  display: flex;
  max-width: 850px;
  flex-wrap: wrap;
  padding: 5px;
  margin: auto;
}
.card-container{
  border: solid rgba(0, 0, 255, 0) 1px;
  width: 150px;
  height: 150px;
  margin: auto;
  padding: 10px;

}



/* card style */



.card{
  border: black 1px solid;
  border-radius: 10px;
  box-shadow: 4px 4px 8px gray;
  position: relative;
  height: 150px;
  background-color: azure;
}

.cover{
  position:absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 3;
  background-color: rgb(255, 95, 95);
}

.hide{
  z-index: -2;
}

.complete{
  position:absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 4;
  background-color: rgba(2, 221, 2, 0.212);
}

.symbol{
  width: 100%;
  height: 100%;
  font-size: 75px;
  font-weight: 600;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 10px;
}
.romaji{
  font-size: 25px;
  margin-left: 10px;
  font-style: italic;
  font-weight: 600;
}

